@charset "UTF-8";

body {
	margin: 0px;
	padding: 0px;
}

input {
	margin: 0px;
	padding: 0px;
}

.div1 {
	margin: 0 50px;
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 50 0 70;
}

.back img {
	width: 60px;
	height: 60px;
}

.main_title {
	font-size: 40px;
	font-weight: bold;
}

#submit {
	font-size: 35px;
	background-color: red;
	border-radius: 30px;
	padding: 10 20;
	color: white;
}

/* ---------- 작성 ------------------ */
.title {
	border: none;
	border-bottom: 1px solid darkgray;
	padding-bottom: 20px;
	font-size: 40px;
	margin-bottom: 50px;
	width: 880px;
	outline: 0px;
	font-weight: bold;
}

.ctnt {
	border: none;
	outline: 0px;
	font-size: 35px;
	margin-bottom: 300px;
}

.rule {
	word-break: keep-all;
	font-size: 12px;
	color: gray;
}

.fix_div {
	height: 60px;
	width: 900px;
	background-color: white;
}

.fix {
	position: fixed;
	font-size: 40px;
	right: 50px;
}

.secret {
	zoom: 2;
	margin-right: 5px;
}