<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="spring.everytime.com.main.MainMapper">
	<select id="selList" resultType="UserDomain">
		SELECT *
		FROM everyuser
	</select>

	<!-- main/home에 뿌림 -->
	<select id="typeList" resultType="BoardTypeDomain">
		SELECT
		t_board_type.i_board_type, type_title, t_board_type.board_hit,
		i_board,
		i_user,
		board_nm, board_ctnt,  secret, r_dt
		FROM
		t_board_type
		LEFT JOIN t_board
		ON t_board_type.i_board_type =
		t_board.i_board_type
		GROUP BY t_board_type.i_board_type
		ORDER BY
		board_hit DESC;
	</select>

	<!-- main/home에 뿌림 hot 게시판 -->
	<select id="hotList" resultType="BoardDomain">
		SELECT a.i_board, a.i_user,
		a.board_nm, a.board_ctnt,  a.secret, a.r_dt,
		a.board_hit, b.i_board_type, b.type_title,
		(SELECT everyuser.user_nm
		FROM everyuser WHERE everyuser.i_user = a.i_user) AS user_nm,
		(SELECT
		count(t_favorite.i_user) FROM t_favorite WHERE t_favorite.i_board =
		a.i_board) AS favorite,
		(SELECT count(board_cmt.i_cmt) FROM board_cmt
		WHERE a.i_board = board_cmt.i_board) AS cmt
		FROM t_board a
		LEFT JOIN
		t_board_type b
		ON a.i_board_type = b.i_board_type
		ORDER BY a.board_hit
		DESC;
	</select>
	<!-- main/board에 뿌림 type, board, user 정보 -->
	<select id="boardList" resultType="BoardDomain">
		SELECT a.i_board,
		a.i_board_type, a.i_user, a.board_nm, a.board_ctnt,
		a.secret, a.board_hit, TIMESTAMPDIFF(SECOND, a.r_dt, NOW()) AS r_dt,
		(SELECT everyuser.user_nm FROM everyuser WHERE everyuser.i_user =
		a.i_user) AS user_nm,
		(SELECT count(t_favorite.i_user) FROM t_favorite
		WHERE t_favorite.i_board = a.i_board) AS favorite,
		(SELECT
		count(board_cmt.i_cmt) FROM board_cmt WHERE a.i_board =
		board_cmt.i_board) AS cmt
		FROM t_board a
		WHERE
		i_board_type =
		#{i_board_type}
		ORDER BY i_board DESC LIMIT #{first},#{last};
	</select>

	<!-- boardType게시판에 뿌릴 type -->
	<select id="boardTypeList" resultType="BoardTypeDomain">
		SELECT i_board_type,
		type_title, board_hit
		FROM t_board_type
		ORDER BY board_hit DESC;
	</select>

	<!-- /main/board에 게시판 제목 -->
	<select id="boardType" resultType="BoardTypeDomain">
		SELECT *
		FROM t_board_type
		WHERE i_board_type = #{i_board_type};
	</select>


	<!-- 게시판 조회수 증가 -->
	<update id="boardTypeHit">
		UPDATE t_board_type
		SET board_hit = board_hit + 1
		WHERE i_board_type = #{i_board_type};
	</update>


	<!-- /main/boardType게시판에 뿌릴 type -->
	<select id="boardTypeSubList" resultType="BoardTypeSubDomain">
		SELECT i_board_type,
		type_title, board_hit
		FROM t_board_type_sub
	</select>

	<!-- 내가 쓴 글 -->
	<!-- boardTypeSubList -->
	<select id="boardSubList" resultType="BoardDomain">
		<if test="i_board_type == 1">
			SELECT a.i_board, a.i_board_type, a.board_nm,
			a.board_ctnt,  a.board_hit, a.secret, a.r_dt,
			b.i_user, b.user_nm,
			(SELECT t_board_type.type_title FROM t_board_type
			WHERE t_board_type.i_board_type = a.i_board_type) AS type_title,
			(SELECT count(t_favorite.i_user) FROM t_favorite WHERE
			t_favorite.i_board = a.i_board) AS favorite,
			(SELECT
			count(board_cmt.i_cmt) FROM board_cmt WHERE a.i_board =
			board_cmt.i_board) AS cmt
			FROM t_board a
			left JOIN everyuser b
			ON
			a.i_user = b.i_user
			WHERE b.i_user = #{i_user}
			order by i_board desc;
		</if>
		<if test="i_board_type == 2">
			SELECT a.i_cmt, a.i_board, a.i_user, b.i_board,
			b.i_board_type, b.board_nm, b.board_ctnt,
			 b.secret,
			b.r_dt, b.board_hit,
			(SELECT t_board_type.type_title FROM t_board_type
			WHERE t_board_type.i_board_type = b.i_board_type) AS type_title,
			(SELECT count(board_cmt.i_cmt) FROM board_cmt WHERE a.i_board =
			board_cmt.i_board) AS cmt,
			(SELECT count(t_favorite.i_user) FROM
			t_favorite WHERE t_favorite.i_board = a.i_board) AS favorite
			FROM
			board_cmt a
			RIGHT JOIN t_board b
			ON a.i_board = b.i_board
			WHERE a.i_user
			= #{i_user}
			order by i_cmt desc;
		</if>
		<if test="i_board_type == 3">

		</if>
		<if test="i_board_type == 4">
			SELECT i_board, i_board_type, i_user, board_nm,
			board_ctnt,  secret, r_dt, board_hit,
			(SELECT
			everyuser.user_nm FROM everyuser WHERE everyuser.i_user =
			t_board.i_user) AS user_nm,
			(SELECT count(t_favorite.i_user) FROM
			t_favorite WHERE t_favorite.i_board =
			t_board.i_board) AS favorite,
			(SELECT count(board_cmt.i_cmt) FROM board_cmt WHERE t_board.i_board =
			board_cmt.i_board) AS cmt,
			(SELECT t_board_type.type_title FROM
			t_board_type WHERE t_board.i_board_type
			= t_board_type.i_board_type)
			AS type_title
			FROM t_board
			ORDER BY board_hit DESC;
		</if>
		<if test="i_board_type == 5">
			SELECT i_board, i_board_type, i_user, board_nm,
			board_ctnt, 
			secret, r_dt, board_hit,
			(SELECT
			everyuser.user_nm FROM everyuser WHERE
			everyuser.i_user =
			t_board.i_user) AS user_nm,
			(SELECT
			count(t_favorite.i_user) FROM
			t_favorite WHERE t_favorite.i_board =
			t_board.i_board) AS favorite,
			(SELECT count(board_cmt.i_cmt) FROM
			board_cmt WHERE t_board.i_board =
			board_cmt.i_board) AS cmt,
			(SELECT
			t_board_type.type_title FROM
			t_board_type WHERE t_board.i_board_type
			=
			t_board_type.i_board_type)
			AS type_title
			FROM t_board
			ORDER BY cmt
			DESC;
		</if>
	</select>
	
	<!-- 보드 검색 -->
	<select id="selectProc" resultType="BoardDomain">
		SELECT a.i_board,
		a.i_board_type, a.i_user, a.board_nm, a.board_ctnt,
		a.secret, a.board_hit, TIMESTAMPDIFF(SECOND, a.r_dt, NOW()) AS r_dt,
		(SELECT everyuser.user_nm FROM everyuser WHERE everyuser.i_user =
		a.i_user) AS user_nm,
		(SELECT count(t_favorite.i_user) FROM t_favorite
		WHERE t_favorite.i_board = a.i_board) AS favorite,
		(SELECT
		count(board_cmt.i_cmt) FROM board_cmt WHERE a.i_board =
		board_cmt.i_board) AS cmt
		FROM t_board a
		WHERE board_nm LIKE CONCAT('%', #{board_nm}, '%')
		ORDER BY i_board DESC;
	</select>
	
	
	
	<!--  페이징 처리 -->
	<select id="listCount" resultType="BoardDomain">
			SELECT i_board, i_board_type, COUNT(i_board) AS listCount
		FROM t_board
		WHERE i_board_type = #{i_board_type};
	</select>

</mapper>



